<%- include('../../views/header') -%>
<body>

<%- include('../../views/sidebar') -%>

<div class="main" style="height:100%;">
    <h2><%= title %></h2>
    <div class="schedule" style="height:40%;">
    <h3>スケジュール一覧</h3>

    <div style="height:100%;overflow-y:scroll;">
    <table class="table table-bordered table-hover table-condensed table-headerfixed">        
            <tr>
                <th width='150px'>日時</th><th>内容</th>
            </tr>
            <% for(var i=0;i<events.length;i++){ %>
                <tr>
                    <td><%= events[i].start_date.date('YYYY-MM-DD hh:mm') %></td>                                        
                    <td><%= events[i].text %></td>
                    
                </tr>            
            <% } %>
    </table>    
    </div>
</div>
<hr>
<div class="project" style="height:40%">
    <h3>案件一覧</h3>
    <div style="height:100%;overflow-y:scroll;">
        <table class="table table-bordered table-hover table-condensed table-headerfixed col-sm-12"> 
            <tbody>
            <tr>
                <th width='5px'></th><th width='10px'>ID</th><th width='200px'>案件名</th><th width='5px'></th><th width='300px'>作業名</th><th width='120px'>開始日</th><th width='120px'>終了予定日</th>
            </tr>
            <% for(var i=0;i<projects.length;i++){ %>
                <tr class="clickable-row" data-href="/gantt/<%= projects[i].id %>">
                    <td bgcolor="<%= projects[i].project_color %>">  </td>
                    <td><%= projects[i].pid %></td>
                    <td><% if(i>0){ 
                            if(projects[i-1].project_title!=projects[i].project_title){ %>
                                <%= projects[i].project_title %>
                            <% } %>
                        <% } else { %>
                            <%= projects[i].project_title %>
                        <% } %>
                        </td>
                    <td bgcolor="<%= projects[i].task_color %>">  </td>         
                    <td><%= projects[i].task_title %></td>
                    <td><% if(projects[i].task_start_date){ %><%= projects[i].task_start_date.date('YYYY-MM-DD') %><% } %></td>
                    <td><% if(projects[i].task_end_dateA){ %><%= projects[i].task_end_dateA.date('YYYY-MM-DD') %><% } %></td>
                </tr>            
            <% } %>
            </tbody>
    </table>
    </div>
</div>
</div>

<%- include('../../views/script') -%>

<script>
    $('.clickable-row').click( function() {
        //window.location = $(this).attr('data-href');
    });
</script>



<%- include('../../views/footer') -%>