<!DOCTYPE html>
<html>
<meta lang="ja">
<title><%= title %></title>

<body>
<iframe src="/schedule" allow-scripts>

</iframe>

<script>
    var iframe = document.createElement("iframe");
    iframe.src = 'data:text/html;charset=UTF-8,"/schedule"';
    iframe.sandbox = "allow-scripts";
    document.body.appendChild(iframe);
</script>
</body>

</html>    