<script src="/scheduler/dhtmlxscheduler_key_nav.js" type="text/javascript"></script>
<script src="/scheduler/dhtmlxscheduler_minical.js" type="text/javascript"></script>
<script src="/scheduler/dhtmlxscheduler_editors.js" type="text/javascript"></script>
<script src="/modules/components/dhtmlxcombo.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/modules/components/dhtmlxcombo.css">


<script type="text/javascript" charset="utf-8">

    scheduler.attachEvent("onTemplatesReady", function(){
        //概要を表示する
        scheduler.templates.event_text = function(start,end,ev){
            var str = "<b>"+ev.text+"</b>"
            if(ev.description){str+="<br><span style='width: 30;padding-top:20;'>内容：</span><span>"+ev.description+"</span>";}
            for(var i=0;i<tasks.length;i++){
                if(tasks[i].key == ev.task_id){
                    str+="<br><span style='width: 30;padding-top:20;'>作業：</span><span>"+tasks[i].label+"</span>";
                };
            };
            return str;
        };
    });


    function show_minical(){
            if (scheduler.isCalendarVisible())
                scheduler.destroyCalendar();
            else
                scheduler.renderCalendar({
                    position:"dhx_minical_icon",
                    date:scheduler._date,
                    navigation:true,
                    handler:function(date,calendar){
                        scheduler.setCurrentView(date);
                        scheduler.destroyCalendar()
                    }
            });
    }


    var tasks = <%- tasks %>;

/*
    //キーボードショートカット設定
    scheduler.addShortcut("esc", function(e){ 
        var eventId = scheduler.locate(e); 
        if(eventId) 
            scheduler.showQuickInfo(eventId);
    },"event");
*/

    scheduler.templates.calendar_time = scheduler.date.date_to_str("%Y-%m-%d %D");
    scheduler.templates.calendar_month = scheduler.date.date_to_str("%Y年 %M");
    scheduler.templates.xml_date = function(value){ return new Date(value); };




//週末に色を付ける
    scheduler.templates.dhx_cal_header = function(date){
        if(date.getDay()==0){
            return "sunday";
        } else {
            if(date.getDay()==6){
                return "saturday";
            }
        }
    };
    scheduler.templates.render_x_header = function(item,date){
        if(date.getDay()==0){
            return "sunday";
        } else {
            if(date.getDay()==6){
                return "saturday";
            }
        }
    };     

    scheduler.config.hour_size_px = 88;
    var format = scheduler.date.date_to_str("%H:%i");
    var step = 30;
    //scheduler.templates.hour_scale = 42;
    scheduler.config.xml_date="%Y-%m-%d %H:%i";
    scheduler.config.minicalendar.mark_events = false; 
    scheduler.config.scroll_hour = 9;   //スクロール開始時間
    scheduler.config.repeat_date = "%Y/%m/%d";
    scheduler.config.include_end_by = true;
    scheduler.config.minicalendar.mark_events = false;

    scheduler.config.lightbox.sections = [
        {name:"title", height:28, map_to:"text", type:"textarea", focus:true},
        {name:"description", height:200, map_to:"description", type:"textarea"},
        {name:"task", height:40, map_to:"task_id", type:"combo", image_path: "/modules/components/imgs/", filtering:true,options: tasks },
        {name:"color", height: 28, map_to: "color", type: "select", options: <%- select_colors %>},  
        {name:"time", height:72, type:"calendar_time", map_to:"auto" }
    ];

    scheduler.locale.labels["section_title"] = "表題";
    scheduler.locale.labels["section_task"] = "作業";
    scheduler.locale.labels["section_color"] = "色";

    
    scheduler.xy.menu_width = 0;

    scheduler.config.details_on_dblclick = true;
    scheduler.config.details_on_create = true;
    scheduler.attachEvent("onClick",function(){ return false; });

    scheduler.resize
    scheduler.init('scheduler_here', new Date(), "day");

    scheduler.load("/schedule/data", "json");

    var dp = new dataProcessor("/schedule/data");
    dp.init(scheduler);
    dp.setTransactionMode("POST", false);

    
    // scheduler.init('scheduler_here2', new Date(), "day");
    // scheduler.load("/schedule/data", "json");

    // var dp2 = new dataProcessor("/schedule/data");
    // dp2.init(scheduler);
    // dp2.setTransactionMode("POST", false);


    </script>