<link href="/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet">
<script src="/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
<script>
  $(function () {
    $('#colorpicker1').colorpicker();
  });
</script>