<link href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ja.min.js"></script>

<script>
    $('.datepicker').datepicker({
        format: 'yyyy/mm/dd',
        language: 'ja',
        autoclose: true,
    });
</script>