
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <!-- モーダル -->
    <div class="modal show" id="modal1">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modal-label"><%= d.title %></h4>
                </div>
                <div class="modal-body">
                  <%= d.text %>
                </div>
                  <div class="modal-footer">
                    <%- d.footer %>                      
                  </div>
                </div>
            </div>
          </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>