<!DOCTYPE html>
<html>
  <head>
    <title><%= companyname %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= companyname %></h1>
    <p><%= companyname %> Manegament System</p>

    <p><a href="/login">ログイン</a></p>
</body>
</html>    

