<nav class="navbar navbar-inverse sidebar affix" role="navigation">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"></a>
        <!--<img src="https://drive.google.com/uc?export=view&id=0B2UPBPH04AsATV85QWxKdXMxbnc">-->			
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard">ダッシュボード<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
            <li><a href="/schedule" target="_blank">個人スケジュール<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a></li>
        <% if( role >= 8){ %>
            <li><a href="/gantt/all" target="_blank">全体ガントチャート<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
            <li><a href="/gantt" target="_blank">ガントチャート<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span></a></li>
            <li><a href="/gantt_template" target="_blank">案件テンプレート編集<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
        <% } %>
        <% if( role >= 8){ %>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">ユーザー <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="/users/addnew">ユーザー作成</a></li>
                    <li><a href="/users/">ユーザー編集</a></li>                    
                </ul>
            </li>
        <% } %>

        <% if( role >= 8){ %>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">カテゴリー <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="/categories/addnew">カテゴリー作成</a></li>
                    <li><a href="/categories/">カテゴリー編集</a></li>                    
                </ul>
            </li>
        <% } %>
        
        <% if( role >= 8){ %>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">色 <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tint"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="/colors/addnew">色作成</a></li>
                    <li><a href="/colors/">色編集</a></li>                    
                </ul>
            </li>
        <% } %>

        <% if( role >= 10){ %>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">ユーザーグループ <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="/users/addnew">グループ作成</a></li>
                    <li><a href="/users/">グループ編集</a></li>
                </ul>
            </li>
        <% } %>

        <li><a href='/logout'>ログアウト<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a></li>
        </ul>        
    </div>
</div>
</nav>
  