<%- include('../../views/header') -%>
  <h1>add user </h1>

  <%- include('../../views/sidebar') -%>

  <form method='post' action='./'>
  
    <div class="form-group col-sm-6">
      <div>Name<input type="text" value="" name="categoryName" placeholder="カテゴリー名を入力してください"></div>
    </div>

    <button>追加</button>
  </form>
  <a href="./"<button>キャンセル</button></a>
<%- include('../../views/footer') -%>