<%- include('../../views/header') -%>
<body>

<%- include('../../views/sidebar') -%>
<div class="main">
<h1><%= title %></h1>
  <div class="col-sm-6">
  <table>
    <th class="col-sm-4">カテゴリー名</th>
    <% for(var i=0;i<categories.length;i++){ %>
      <tr>
        <td><a href='/categories/<%= categories[i].id %>'><%= categories[i].categoryname %></a></td>
    </tr> 
    <% } %>
  </table>
</div>
</div>

  <%- include('../../views/script') -%>
  <%- include('../../views/footer') -%>