<script src="/gantt/dhtmlxgantt_marker.js" type="text/javascript" charset="utf-8"></script>
<script src="/gantt/dhtmlxgantt_tooltip.js" type="text/javascript" charset="utf-8"></script>
<script src="/gantt/dhtmlxgantt_keyboard_navigation.js" type="text/javascript" charset="utf-8"></script>
<script src="/modules/components/dhtmlxcombo.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/modules/components/dhtmlxcombo.css">
<script src="/modules/components/dhtmlxcalendar.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/modules/components/dhtmlxcalendar.css">
<script src="/modules/components/dhtmlxform.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/modules/components/dhtmlxform.css">

<link rel="stylesheet" type="text/css" href="/modules/components/codebase/dhtmlx.css"/>
<script src="/modules/components/codebase/dhtmlx.js"></script>



<script type="text/javascript">

    var scale = "day";

    function formInit(){
        var myForm, formData;
        formData = [
            {type: "settings", position: "label-left", labelWidth: 120, inputWidth: 145},
            {type: "calendar", name: "start_date", label: "Start Date", value: "2016-03-28 11:00", dateFormat: "%Y-%m-%d %H:%i", enableTime: true, calendarPosition: "right"},
            {type: "newcolumn"},
            {type: "calendar", name: "end_date", label: "End Date", value: "2016-03-29 12:30", dateFormat: "%Y-%m-%d %H:%i", enableTime: true, calendarPosition: "right"},

        ];
        myForm = new dhtmlXForm("myForm", formData);  
    };

    //formInit();

/*
    var myCalendar = new dhtmlXCalendarObject(["show_min_date","show_max_date"]);    
    show_min_date.onchange = function() {
        gantt.config.start_date = show_min_date;        
        gantt.refreshData();
    }
    show_max_date.onchange = function() {
        ///gantt.config.start_date = new Date(2017, 09, 01);
        gantt.config.end_date = show_max_date;
        gantt.refreshData();
    }
*/

    var combo_filter = new dhtmlXCombo({
        parent: "combo1",
        width: 400,
        name: "filterText",
        items:<%- project_list %>,
    });

    var filtervalue;
    var filtertext="";
    combo_filter.attachEvent("onChange", function(value, text){
        filtervalue=value;
        filtertext=text;
        gantt.refreshData();
    });

    //祝日データを取得
    var holidays;
    var httpObj = new XMLHttpRequest();
    httpObj.onreadystatechange = function() {
        if(httpObj.readyState == 4 && httpObj.status == 200){
            holidays = JSON.parse(httpObj.responseText);
        }
    };
    httpObj.open("get", "/holidays", false);
    httpObj.send(null);	

    function isHoliday(date){
        for (var i=0; i<holidays.length; i++) {
            date_holiday=new Date(holidays[i].date);
            if(date.getFullYear() == date_holiday.getFullYear()){
                if(date.getMonth() == date_holiday.getMonth()){
                    if(date.getDate() == date_holiday.getDate()){
                        return holidays[i].name;
                    }
                }            
            }             
        }
        return false;           
    }


//フィルター処理
    var filter_inputs = document.getElementById("filters_wrapper").getElementsByTagName("input");
    for (var i=0; i<filter_inputs.length; i++) {
        var filter_input = filter_inputs[i];

        // attach event handler to update filters object and refresh data (so filters will be applied)
        filter_input.onchange = function() {
            gantt.refreshData();
        }
    }

    gantt.attachEvent("onBeforeLightbox", function(id){
            var task = gantt.getTask(id);
            if(!task.pid){
                task.pid = gantt.getWBSCode(task);
            }
            return true;
        });

    gantt.attachEvent("onBeforeTaskDisplay", function(id, task){
        for (var i=0; i<filter_inputs.length; i++) {
            var filter_input = filter_inputs[i];
    
            if (filter_input.checked){
                if (task.state <= 9 ){
                    //コンボのフィルターを適用する
                    if( task.text.indexOf(filtertext) !=-1) {
                        return true;
                    }else{
                        if( task.parent == filtervalue) {
                            return true;
                        }                            
                        return false
                    }
                }                    
            } else {
                if (task.state < 9 ){
                    //コンボのフィルターを適用する
                    if( task.text.indexOf(filtertext) !=-1) {
                        return true;
                    }else{
                        if( task.parent == filtervalue) {
                            return true;
                        }                            
                        return false
                    }
                }               
            }                
        }
        return false;
    });

//ツールチップを使えるようにする
    gantt.templates.tooltip_text = function(start,end,task){
        var description;
        if(!task.description){
            description ="";
        } else {
            description = task.description;                    
        }
        switch (scale){
            case "day":
                return "<b>案件・作業:</b> "+task.text+"<br/><b>概要:</b> " + description+"<br/><b>状態:</b> "+task.state
                    +"<br/><b>担当者:</b> "+task.user;
                break;
            case "quarter":
                return "<b>案件・作業:</b> "+task.text
                    +"<br/><b>概要:</b> "+description
                    +"<br/><b>開始日:</b> "+gantt.templates.tooltip_date_format(task.start_date)
                    +"<br/><b>終了日:</b> "+gantt.templates.tooltip_date_format(task.end_date)
                    +"<br/><b>状態:</b> "+task.state
                    +"<br/><b>担当者:</b> "+task.user;
                break;
        }
    };

//週末に色を付ける
    gantt.templates.scale_cell_class = function(date){
        if(scale=="day"){
            if(date.getDay()==0){
                return "sunday";
            } else {
                if(date.getDay()==6){
                    return "saturday";
                }
            }
            
            if(isHoliday(date)){
                return "holiday";
            }
        }
    };
    gantt.templates.task_cell_class = function(item,date){
        if(scale=="day"){
            if(date.getDay()==0){
                return "sunday";
            } else {
                if(date.getDay()==6){
                    return "saturday";
                }
            }
            if(isHoliday(date)){
                return "holiday";
            }                
        }
    };


//タスク入力フォームのカスタマイズ
    gantt.config.lightbox.sections = [        
        {name: "title", height: 25, map_to: "text", type: "textarea" },
        {name: "description", height: 54, map_to: "description", type: "textarea"},
        {name: "category", height: 28, map_to: "category", type: "select", options: <%- select_categories %>},
        {name: "template", height: 28, map_to: "template", type: "select", options: <%- select_template %>},
        {name: "color", height: 28, map_to: "color", type: "select", options: <%- select_colors %>},
        //{name: "customer", height: 22, map_to: "customer", type: "select", options: []},
        {name: "user", height: 28, map_to: "user", type: "select", options: <%- select_users %>},
        //{name: "usergroup", height: 22, map_to: "usergroup", type: "textarea", options: []},
        {name: "budget", height: 22, map_to: "budget", type: "textarea"},
        {name: "settlement", height: 22, map_to: "settlement", type: "textarea"},
        {name: "contract", height: 22, map_to: "contract", type: "textarea"},
        //{name: "spreadsheetkey", height: 22, map_to: "spreadsheetkey", type: "textarea", options: []},
        {name: "state", height: 28, map_to: "state", type: "select", options: <%- select_state %>},
        //{name: "time", type: "date", map_to: "auto"},
        //{name: "date", type: "date", map_to: "auto"},
        {name: "time", type: "duration", map_to: "auto"},
    ];
    
    gantt.locale.labels["section_title"] = "タイトル";
    gantt.locale.labels["section_template"] = "案件テンプレート名";
    gantt.locale.labels["section_description"] = "概要";
    gantt.locale.labels["section_color"] = "色";
    gantt.locale.labels["section_user"] = "担当者";
    gantt.locale.labels["section_customer"] = "クライアント";
    gantt.locale.labels["section_category"] = "カテゴリー";
    //gantt.locale.labels["section_usergroup"] = "ユーザーグループ";
    gantt.locale.labels["section_budget"] = "見積金額";
    gantt.locale.labels["section_settlement"] = "実績金額";
    gantt.locale.labels["section_contract"] = "契約金額";
    //gantt.locale.labels["section_spreadsheetkey"] = "spreadsheetkey";
    gantt.locale.labels["section_state"] = "状態";


    //ドラッグで行を変更できるようにする
    gantt.config.order_branch = true;
    gantt.config.order_branch_free = true;

        
    gantt.config.cascade_delete = false;


//表示する列
    gantt.config.columns = [
        {name:"pid", label:"PID", width:40, template:gantt.getWBSCode},
        {name:"text", label:"案件・作業名", tree:true, width:300 ,resize: true },
        //{name:"start_date", label:"開始日時", align: "center", width: 90},
        {name:"duration", label:"期間(日)", align: "center" , width: 60},                
        {name:"add", width:40}
    ];

//今日に線を引く
    var todayMarker = gantt.addMarker({ 
        start_date: new Date(), 
        css: "today", 
    });

    function ganttConfig(scale){
        switch (scale){
            case "month":

                break;

            case "quarter":
                //四半期表示
                gantt.date.quarter_start = function(date){ 
                gantt.date.month_start(date);
                var m = date.getMonth(),
                    res_month;
                
                if(m >= 9){
                    res_month = 9;
                }else if(m >= 6){
                    res_month = 6;
                }else if(m >= 3){
                    res_month = 3;
                }else{
                    res_month = 0;
                }
                
                date.setMonth(res_month);
                return date;
                };
                gantt.date.add_quarter = function(date, inc){ 
                return gantt.date.add(date, inc*3, "month");
                };
                
                gantt.config.subscales = [
                    {unit:"quarter", step:1, template:quarterLabel},
                    {unit:"month", step:1, date:"%M月" }
                ];

                //表示間隔
                gantt.config.scale_unit = "week";
                gantt.config.date_scale = "%W";
                break;

            case "day":
        
                //日
                gantt.config.xml_date = "%Y-%m-%d %H:%i:%s";
                gantt.config.date_scale = "%d";
                //gantt.attachHeader("(Num),(Str),(Str)");
                gantt.config.subscales = [                
                    {unit:"month", step:1, date:"%M月" },
                    {unit:"day", step:1, date:"(%D)" },
                ];
                //表示間隔
                gantt.config.scale_unit = "day";

                break;
        };

        //表示期間
//        gantt.config.start_date = new Date(2017, 10, 1);
//        gantt.config.end_date = new Date(2018, 5, 31);
    }    


    //四半期表示用ラベル
    function quarterLabel(date){
        var month = date.getMonth();
        var q_num;
    
        if(month >= 9){ 
            q_num = 4;
        }else if(month >= 6){
            q_num = 3;
        }else if(month >= 3){
            q_num = 2;
        }else{
            q_num = 1;
        }
        return "Q" + q_num;
    }


    ganttConfig(scale);

//表示処理実行        
    gantt.init("gantt_here");
    gantt.load("/gantt/data");

    var dp = new gantt.dataProcessor("/gantt/data");
    dp.init(gantt);
    dp.setTransactionMode("REST");
    
//並べ替えできるようにする （ドラッグでの行移動ができなくなる　->　ここに入れると大丈夫）
    //gantt.config.sort = true;


//タスクをドラッグアンドドロップできるようにする（横移動）
    gantt.attachEvent("onTaskDrag", function(id, mode, task, original){
        var modes = gantt.config.drag_mode;
        if(mode == modes.move){
            var diff = task.start_date - original.start_date;
            gantt.eachTask(function(child){
                child.start_date = new Date(+child.start_date + diff);
                child.end_date = new Date(+child.end_date + diff);
                gantt.refreshTask(child.id, true);
            },id );
        }
        return true;
    });
//子タスクを一緒に移動する
    gantt.attachEvent("onAfterTaskDrag", function(id, mode, e){
        var modes = gantt.config.drag_mode;
        if(mode == modes.move ){
            var state = gantt.getState();
            gantt.eachTask(function(child){          
                child.start_date = gantt.roundDate({
                    date:child.start_date, 
                    unit:state.scale_unit, 
                    step:state.scale_step
                });         
                child.end_date = gantt.calculateEndDate(child.start_date, 
                    child.duration, gantt.config.duration_unit);
                gantt.updateTask(child.id);
            },id );
        }
    });        

        
    function createBox(sizes, class_name){
        var box = document.createElement('div');
        box.style.cssText = [
            "height:" + sizes.height + "px",
            "line-height:" + sizes.height + "px",
            "width:" + sizes.width + "px",
            "top:" + sizes.top + 'px',
            "left:" + sizes.left + "px",
            "position:absolute"
        ].join(";");
        box.className = class_name;
        return box;
    }

//子タスクがたたまれたときに、親タスクを半透明にして子タスクのバーで上書きする
    gantt.templates.grid_row_class = gantt.templates.task_class=function(start, end, task){
        var css = [];
        if(gantt.hasChild(task.id)){
            css.push("task-parent");
        }
        if (!task.$open && gantt.hasChild(task.id)) {
            css.push("task-collapsed");
        }

        return css.join(" ");
    };

    gantt.addTaskLayer(function show_hidden(task) {
        if (!task.$open && gantt.hasChild(task.id)) {
            var sub_height = gantt.config.row_height - 5,
                el = document.createElement('div'),
                sizes = gantt.getTaskPosition(task);

            var sub_tasks = gantt.getChildren(task.id);

            var child_el;

            for (var i = 0; i < sub_tasks.length; i++){
                var child = gantt.getTask(sub_tasks[i]);
                var child_sizes = gantt.getTaskPosition(child);

                child_el = createBox({
                    height: sub_height,
                    top:sizes.top,
                    left:child_sizes.left,
                    width: child_sizes.width,                           
                }, "child_preview gantt_task_line");                                        
                child_el.innerHTML = child.text;
                child_el.style.background = child.color;
                el.appendChild(child_el);                    
            }
            return el;
        }
        return false;
    });
    
    gantt.attachEvent("onAfterTaskAdd", function onAfterTaskAdd(id) {
        gantt.batchUpdate(function () {
            checkParents(id)
        });
    });



	// var menu = new dhtmlXMenuObject();
	// //menu.setIconsPath("../common/sample_images/");
	// menu.renderAsContextMenu();
	// //menu.setSkin("dhx_terrace");
	// menu.loadXML("menu.xml");

    // gantt.attachEvent("onContextMenu", function(taskId, linkId, event){
	// 	var x = event.clientX + document.body.scrollLeft + document.documentElement.scrollLeft,
	// 		y = event.clientY + document.body.scrollTop + document.documentElement.scrollTop;

	// 	if(taskId){
	// 		alert("taskId:"+taskId+" x:"+x+" y:"+ y);
	// 	}else if(linkId){
	// 		alert("linkId:"+linkId+" x:"+x+" y:"+ y);
	// 	}

	// 	if(taskId || linkId){
	// 		return false;
	// 	}

	// 	return true;
	// });


    
</script>