<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= title %></title>

    <script src="/gantt/dhtmlxgantt.js" type="text/javascript" charset="utf-8"></script>    
	<link rel="stylesheet" href="/gantt/dhtmlxgantt.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css">

        .sunday{ background: #f3e4e4 !important;}
        .holiday{ background: #f3e4e4 !important;}
        .saturday{ background: #eff4fd !important;}

        html, body{ height:100%; padding:0px; margin:0px; overflow: hidden;}
		.child_preview{
			box-sizing: border-box;
			margin-top: 2px;
			position: absolute;
			z-index: 1;
			color: white;
			text-align: center;
			font-size: 12px;
		}

		.gantt_task_line.task-collapsed{
			height: 4px;
			opacity: 0.25;
		}

		.gantt_task_line.gantt_project.task-collapsed .gantt_task_content{
			display: none;
		}

		.gantt_row.task-parent{
			font-weight: bold;
		}


    </style>
</head>    
<body>

    <div class="main" style='width:100%; height:100%;'>
    
    <!--<div id="show_date">表示期間:<input type="text" id="show_min_date" onchange="gantt.refreshData();">から<input type="text" id="show_max_date" onchange="gantt.refreshData();">まで</div>-->
    <div id="combo1"></div>
    <div class="filters_wrapper" id="filters_wrapper">
        <span>
            <label>完了したものを表示する<input name="filter_state" type="checkbox"></label>
        </span>
    </div>
    
	<div id="gantt_here" style='width:100%; height:90%;'></div>

    <%- include('../../views/gantt/gantt_scriptsA') -%>

    </div>
</body>

