<%- include('../../views/header') -%>

<%- include('../../views/sidebar') -%>

<div class="main">
    <h1><%= title %></h1>

      <div class="container">
      <form class="form-horizontal" id="myForm" action="./addnew" method="post">
        <div class="form-group">
          <label class="col-sm-2 control-label required" for="projectId">案件ID</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="pid" placeholder="案件ID" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label required" for="projectName">案件名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="project_name" placeholder="案件名" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="projectDescription">説明</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" name="project_description" placeholder="説明"></textarea>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">カテゴリー</label>
          <div class="col-sm-4">
            <select name="category_id" class="selectpicker form-control" data-live-search="true" width="auto">
                <option value='' selected></option>
<% for(var i=0;i<data.categories.length;i++) { %>
    <option value='<%= data.categories[i]["id"] %>'><%= data.categories[i]["categoryname"] %></option>
<% } %>
            </select>
            <div class="help-block with-errors"></div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label">顧客</label>
          <div class="col-sm-4">
            <select name="customer_id" class="selectpicker form-control" data-live-search="true" width="auto">
                <option value='' selected></option>
<% for(var i=0;i<data.customers.length;i++) { %>
    <option value='<%= data.customers[i]["id"] %>'><%= data.customers[i]["s_name"] %></option>
<% } %>             
            </select>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label required">テンプレート</label>
          <div class="col-sm-4">
            <select name="template" class="selectpicker form-control" data-live-search="true" width="auto" >
<% for(var i=0;i<data.project_templates.length;i++) { %>
    <option value='<%= data.project_templates[i]["id"] %>'><%= data.project_templates[i]["template_name"] %></option>
<% } %>                
            </select>
            <div class="help-block with-errors"></div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="startDate">開始日</label>
          <div class="col-sm-2">
            <div class=" input-group">
              <input
                  type="text"
                  name="start_date"
                  data-mindate='today'
                  class="form-control datepicker"
                  placeholder="開始日">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="endDate">終了予定日</label>
          <div class="col-sm-2">
            <div class=" input-group">
              <input
                  type="text"
                  name="end_date"
                  class="form-control datepicker"
                  placeholder="終了予定日">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

      
        <div class="form-group">
          <label class="col-sm-2 control-label">担当者</label>
          <div class="col-sm-4">
            <select name="owner_id" class="selectpicker form-control" data-live-search="true" width="auto">
                    <option value='' selected></option>
                <% for(var i=0;i<data.users.length;i++) { %>
                    <option value='<%= data.users[i]["id"] %>'><%= data.users[i]["name"] %></option>
                <% } %>  
            </select>
            <div class="help-block with-errors"></div>
          </div>
        </div>
<!-- しばらくは使わない
        <div class="form-group">
            <label class="col-sm-2 control-label required">ユーザグループ</label>
            <div class="col-sm-4">
                <select id="userGroup_id" class="selectpicker form-control" data-live-search="true" width="auto" required>
                  <% for(var i=0;i<data.usergroups.length;i++) { %>
                    <option value='<%= data.usergroups[i]["id"] %>'><%= data.usergroups[i]["usergroupname"] %></option>
                  <% } %>
                
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
  -->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="contractAmount">請負金額</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="contract_amount" placeholder="請負金額">
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="budgetTotal">予算</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="budget_total" placeholder="予算">
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <!-- 色が自由すぎるかも
        <div class="form-group">
          <label class="col-sm-2 control-label" for="setColor">色</label>
          <div id="colorpicker1" class="col-sm-2 input-group colorpicker-component">
            <input type="text" class="form-control" id="setColor" placeholder="色">
            <span class="input-group-addon"><i></i></span>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      -->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="setColor">色</label>
          <div id="colorpicker" class="col-sm-2">
            <select  class="selectpicker form-control" name="color">                                
                <% for(var i=0;i<data.colors.length;i++) { %>
                    <option <% if(data.colors[i]['default'] == '1') { %><%= 'selected' %><% } %> style="background: <%= data.colors[i]['color'] %>;" value='<%= data.colors[i]["color"] %>'><%= data.colors[i]["name"] %></option>
                <% } %>
            </select>
            <div class="help-block with-errors"></div>
          </div>
        </div>


        <div class="form-group">
          <div class="btn-group btn-group-justified col-sm-offset-2">
            <div class="col-sm-8">
              <div>
                <button id="send_button" type="submit" class="col-sm-6 btn btn-primary btn-large">
                  <i class="fa fa-send fa-lg"></i>作成
                </button>                
              </div>              
            </div>
          </div>          
        </div>        
      </form>
    </div>
    <!-- container -->
  </div>
  <!-- main -->

  <%- include('../../views/script') -%>
  <%- include('../../views/datepicker') -%>
  <%- include('../../views/colorpicker') -%>


  
  <%- include('../../views/footer') -%>

