<%- include('../../views/header') -%>
  <h1>add user </h1>

  <%- include('../../views/sidebar') -%>

  <form method='post' action='./'>
  
    <div class="form-group col-sm-6">
      <div>Name<input type="text" value="" name="name" placeholder="名前を入力してください"></div>
    </div>

    <div class="form-group">
      <div>email<input type="text" value="" name="email" placeholder="メールアドレスを入力してください"></div>
    </div>

    <div class="form-group">
      <div>role<input type="text" value="" name="role" placeholder="権限レベルを入力してください"></div>
    </div>

    <button>追加</button>
  </form>
  <a href="./"<button>キャンセル</button></a>
<%- include('../../views/footer') -%>