<%- include('../../views/header') -%>
<body>

<%- include('../../views/sidebar') -%>
<div class="main">
<h1><%= title %></h1>
<div class="container col-sm-8">
    <div class="col-sm-offset-4">
      <% if(mode=="edit") { %>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal1">
        ユーザー削除
      </button>
      <% } %>
    </div>


    <form method='post' action='/users'>
      
      <input type="hidden" value="<%= method %>" name="_method">
      <input type="hidden" value="<%= user.id %>" name="id">
      <div class="row">
          <div class="form-group col-sm-6">
            <label>ユーザーID</label><input type="text" value="<%= user.uid %>" name="uid" class="form-control" >
          </div>
        </div>  
      <div class="row">
        <div class="form-group col-sm-6">
          <label>氏名</label><input type="text" value="<%= user.name %>" name="name" class="form-control" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>メールアドレス</label></label><input type="email" value="<%= user.email %>" name="email" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2">
          <label>権限</label></label>
          <select value="<%= user.role %>" name="role" class="form-control" required>
            <% for(var i=0;i<10;i++) { %>
              <option value=<%= i %><% var selected;if( i == user.role){ selected='selected';} else { selected=''} %> <%= selected %>><%= i %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label>パスワード</label></label><input type="password" value="<%= encodepassword %>" name="password" class="form-control" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="submit" class="col-sm-2 btn btn-danger"><% if(mode=="edit") { %><%= "更新" %><% } else { %><%= "追加" %><% } %></button><a href="./"><button type="button" class="col-sm-offset-2 col-sm-2 btn btn-primary">キャンセル</button></a>
        </div>
      </div>
    </form>
  </div>
    <!-- モーダル -->
    <div class="modal" id="modal1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">削除確認</h4>
          </div>
          <div class="modal-body">
            このユーザーを削除します。<br>
            よろしいですか？
          </div>
            <div class="modal-footer">
              <form action="./delete" method="post" value="DELETE" name="_method">
                <button type="submit" class="btn btn-danger col-sm-5">削除</button>                
                <button type="button" class="btn btn-primary col-sm-5" data-dismiss="modal">キャンセル</button>
                <input type="hidden" name="id" value="<%= user.id %>">
              </form>
            </div>
          </div>
      </div>
    </div>


    <%- include('../../views/script') -%>
    <%- include('../../views/footer') -%>
