<%- include('../../views/header') -%>
<body>

<%- include('../../views/sidebar') -%>
<div class="main">
<h1><%= title %></h1>
  <div class="col-sm-6">
  <table>
    <th class="col-sm-2">ユーザーID</th><th class="col-sm-4">名前</th>
    <% for(var i=0;i<users.length;i++){ %>
      <tr>
        <td><a href='/users/<%= users[i].id %>'><%= users[i].uid %></a></td><td><a href='/users/<%= users[i].id %>'><%= users[i].name %></a></td>
    </tr> 
    <% } %>
  </table>
</div>
</div>

  <%- include('../../views/script') -%>
  <%- include('../../views/footer') -%>