/*
Product Name: dhtmlxForm 
Version: 5.1.0 
Edition: Standard 
License: content of this file is covered by DHTMLX Commercial or enterpri. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/*
	skin detected: dhx_terrace
	include extra file: skins/dhx_terrace.less
*/

.dhxform_obj_dhx_terrace {
	font-family: Arial, Helvetica;
	float: left;
	line-height: normal;
}
.dhxform_obj_dhx_terrace div.dhxform_base {
	position: relative;
	float: left;
}
.dhxform_obj_dhx_terrace div.dhxform_base_nested {
	padding: 0px 0px 0px 0px;
	clear: both;
	*display: inline-block;
}
.dhxform_obj_dhx_terrace.dhxform_block {
	clear: both;
}
.dhxform_obj_dhx_terrace div.block_dhxform_item_label_left {
	display: block;
	clear: both;
	*clear: none;
}
.dhxform_obj_dhx_terrace div.dhxform_label div.dhxform_label_nav_link,
.dhxform_obj_dhx_terrace div.dhxform_label div.dhxform_label_nav_link:visited,
.dhxform_obj_dhx_terrace div.dhxform_label div.dhxform_label_nav_link:active,
.dhxform_obj_dhx_terrace div.dhxform_label div.dhxform_label_nav_link:hover {
	outline: 0px solid white;
	text-decoration: none;
	color: inherit;
	cursor: default;
	overflow: hidden;
	white-space: normal;
}
.dhxform_obj_dhx_terrace div.dhxform_label div.dhxform_label_nav_link:focus {
	color: #bfbfbf;
}
.dhxform_obj_dhx_terrace div.disabled span.nav_link {
	color: inherit;
}
.dhxform_obj_dhx_terrace div.dhxform_img {
	width: 18px;
	height: 18px;
	font-size: 1px;
}
.dhxform_obj_dhx_terrace div.dhxform_actv_c {
	width: 15px;
	height: 15px;
	box-shadow: 0 0 3px #909090;
}
.dhxform_obj_dhx_terrace div.dhxform_actv_r {
	width: 15px;
	height: 15px;
	box-shadow: 0 0 3px #999999;
	border-radius: 11px;
}
.dhxform_obj_dhx_terrace div.dhxform_img.chbx0,
.dhxform_obj_dhx_terrace div.dhxform_img.chbx1,
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.chbx0,
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.chbx1,
.dhxform_obj_dhx_terrace div.dhxform_img.rdbt0,
.dhxform_obj_dhx_terrace div.dhxform_img.rdbt1,
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.rdbt0,
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.rdbt1,
.dhxform_obj_dhx_terrace div.dhxform_actv_c.chbx0,
.dhxform_obj_dhx_terrace div.dhxform_actv_c.chbx1,
.dhxform_obj_dhx_terrace div.dhxform_actv_r.rdbt0,
.dhxform_obj_dhx_terrace div.dhxform_actv_r.rdbt1 {
	background-image: url("../imgs/dhxform_terrace/dhxform_chbxrd.gif");
	background-repeat: no-repeat;
}
.dhxform_obj_dhx_terrace div.dhxform_img.chbx0 {
	background-position: -18px 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_img.chbx1 {
	background-position: 0px 0px;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.chbx0 {
	background-position: -54px 0px;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.chbx1 {
	background-position: -36px 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_img.rdbt0 {
	background-position: -90px 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_img.rdbt1 {
	background-position: -72px 0px;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.rdbt0 {
	background-position: -126px 0px;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_img.rdbt1 {
	background-position: -108px 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_actv_c.chbx0 {
	background-position: -164px -2px;
}
.dhxform_obj_dhx_terrace div.dhxform_actv_c.chbx1 {
	background-position: -146px -2px;
}
.dhxform_obj_dhx_terrace div.dhxform_actv_r.rdbt0 {
	background-position: -200px -2px;
}
.dhxform_obj_dhx_terrace div.dhxform_actv_r.rdbt1 {
	background-position: -182px -2px;
}
.dhxform_obj_dhx_terrace div.dhxform_label {
	font-family: Arial, Helvetica;
	font-size: inherit;
	color: black;
	overflow-x: hidden;
	overflow: hidden;
	white-space: normal;
}
.dhxform_obj_dhx_terrace div.dhxform_label.dhxform_label_align_left {
	text-align: left;
}
.dhxform_obj_dhx_terrace div.dhxform_label.dhxform_label_align_center {
	text-align: center;
}
.dhxform_obj_dhx_terrace div.dhxform_label.dhxform_label_align_right {
	text-align: right;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_label,
.dhxform_obj_dhx_terrace div.disabled div.dhxform_label div.dhxform_label_nav_link,
.dhxform_obj_dhx_terrace div.disabled div.dhxform_label span.dhxform_item_required {
	color: #bbbbbb;
}
.dhxform_obj_dhx_terrace div.dhxform_label span.dhxform_item_required {
	margin-left: 5px;
	color: red;
}
.dhxform_obj_dhx_terrace input.dhxform_textarea,
.dhxform_obj_dhx_terrace textarea.dhxform_textarea {
	padding: 4px 2px !important;
	margin: 0px;
	font-size: 1em;
	background-color: white;
}
.dhxform_obj_dhx_terrace input.dhxform_textarea::-ms-clear,
.dhxform_obj_dhx_terrace textarea.dhxform_textarea::-ms-clear {
	display: none;
}
.dhxform_obj_dhx_terrace input.dhxform_textarea:focus,
.dhxform_obj_dhx_terrace textarea.dhxform_textarea:focus {
	box-shadow: 0 0 3px #c0c0c0;
	border: 1px solid #bfbfbf;
	outline: none;
}
.dhxform_obj_dhx_terrace .dhxform_textarea {
	border: 1px solid #cccccc;
	font-family: Arial, Helvetica;
	font-size: 1em;
	color: black;
	resize: none;
}
.dhxform_obj_dhx_terrace div.disabled .dhxform_textarea {
	color: #bbbbbb;
	background-color: #f0f0f0;
	border: 1px solid #d4d4d4;
}
.dhxform_obj_dhx_terrace div.dhxform_control.dhxform_img_node {
	position: relative;
}
.dhxform_obj_dhx_terrace div.dhxform_control.dhxform_img_node .dhxform_textarea {
	border: 1px solid white;
	background-color: white;
	color: white;
	visibility: hidden;
	*height: 1px;
	*line-height: 1px;
	*display: inline;
}
.dhxform_obj_dhx_terrace div.dhxform_control.dhxform_img_node div.dhxform_img {
	float: none;
	top: 3px;
	left: 0px;
	position: absolute;
	margin: 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_control.dhxform_img_node div.dhxform_actv_c,
.dhxform_obj_dhx_terrace div.dhxform_control.dhxform_img_node div.dhxform_actv_r {
	float: none;
	top: 5px;
	left: 2px;
	position: absolute;
	margin: 0px;
	*top: 3px;
	*left: 0px;
}
.dhxform_obj_dhx_terrace .dhxform_select {
	border: 1px solid #cccccc;
	background-color: white;
	font-family: Arial, Helvetica;
	font-size: 1em;
	color: black;
	margin: 0px;
	padding: 3px 2px 2px 0px !important;
	line-height: 100%;
	vertical-align: middle;
}
.dhxform_obj_dhx_terrace .dhxform_select option {
	padding-left: 2px;
}
.dhxform_obj_dhx_terrace div.disabled .dhxform_select {
	color: #bbbbbb;
	background-color: #f0f0f0;
	border: 1px solid #d4d4d4;
}
.dhxform_obj_dhx_terrace .dhxform_select option {
	padding: 1px 2px;
}
.dhxform_obj_dhx_terrace .dhxform_select:focus {
	box-shadow: 0 0 3px #c0c0c0;
	border: 1px solid #bfbfbf;
	outline: none;
}
.dhxform_obj_dhx_terrace div.fs_dhxform_item_label_left {
	padding: 5px 0px 5px 0px;
}
.dhxform_obj_dhx_terrace div.fs_dhxform_item_label_left fieldset.dhxform_fs div.dhxform_base_nested.dhxform_fs_nested {
	margin-right: 19px;
	margin-left: 5px;
}
.dhxform_obj_dhx_terrace fieldset.dhxform_fs {
	border: 1px solid #cccccc;
	margin: 0px;
	padding: 5px 0px 12px 0px;
	clear: left;
	width: 100%;
	border-radius: 3px;
}
.dhxform_obj_dhx_terrace div.disabled fieldset.dhxform_fs {
	border: 1px solid #d4d4d4;
}
.dhxform_obj_dhx_terrace fieldset.dhxform_fs legend.fs_legend {
	font-family: Arial, Helvetica;
	font-size: inherit;
	color: #bfbfbf;
	font-weight: normal;
	padding: 0px 4px 1px 4px;
	margin-left: 5px;
	text-align: left;
}
.dhxform_obj_dhx_terrace div.disabled fieldset.dhxform_fs legend.fs_legend {
	color: #bbbbbb;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_right {
	clear: both;
	padding-top: 7px;
	cursor: default;
	*display: inline-block;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_right div.dhxform_img,
.dhxform_obj_dhx_terrace div.dhxform_item_label_right div.dhxform_actv_c,
.dhxform_obj_dhx_terrace div.dhxform_item_label_right div.dhxform_actv_r {
	float: left;
	margin: 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_right div.dhxform_label {
	float: left;
	padding: 2px 0px 1px 0px;
	margin: 2px 0px 2px 0px;
	*padding-top: 0px;
	*display: inline-block;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_right div.dhxform_control {
	float: left;
	margin-right: 3px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_left {
	clear: both;
	padding-top: 7px;
	cursor: default;
	*display: inline-block;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_left div.dhxform_img,
.dhxform_obj_dhx_terrace div.dhxform_item_label_left div.dhxform_actv_c,
.dhxform_obj_dhx_terrace div.dhxform_item_label_left div.dhxform_actv_r {
	float: right;
	margin: 3px 1px 0px 5px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_left div.dhxform_label {
	float: left;
	padding: 4px 0px 1px 0px;
	margin: 2px 0px 2px 0px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_left div.dhxform_control {
	float: left;
	margin-left: 3px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_top {
	clear: both;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_top div.dhxform_label {
	float: none;
	margin-bottom: 5px;
	margin-top: 8px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_label_top div.dhxform_control {
	float: none;
	margin-left: 0px;
	margin-bottom: 5px;
}
.dhxform_obj_dhx_terrace div.dhxform_item_absolute {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: default;
}
.dhxform_obj_dhx_terrace div.item_absolute div.dhxform_img,
.dhxform_obj_dhx_terrace div.item_absolute div.dhxform_actv_c,
.dhxform_obj_dhx_terrace div.item_absolute div.dhxform_actv_r {
	position: absolute;
}
.dhxform_obj_dhx_terrace div.dhxform_item_absolute div.dhxform_control,
.dhxform_obj_dhx_terrace div.dhxform_item_absolute div.dhxform_label,
.dhxform_obj_dhx_terrace div.dhxform_item_absolute div.dhxform_control.dhxform_img_node,
.dhxform_obj_dhx_terrace div.dhxform_item_absolute div.dhxform_txt_label2,
.dhxform_obj_dhx_terrace div.dhxform_item_absolute div.dhxform_btn,
.dhxform_obj_dhx_terrace div.block_item_absolute div.dhxform_block {
	position: absolute;
}
.dhxform_obj_dhx_terrace div.dhxform_txt_label2 {
	font-family: Arial, Helvetica;
	font-size: inherit;
	color: black;
	font-weight: bold;
	margin: 0px 3px;
	padding: 5px 0px;
	cursor: default;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_txt_label2 {
	color: #bbbbbb;
}
.dhxform_obj_dhx_terrace div.dhxform_btn {
	margin: 1px 2px;
	background-color: #f0f0f0;
	float: left;
	cursor: default;
	clear: both;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	font-family: Arial, Helvetica;
	font-size: inherit;
	color: #333333;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	border: 1px solid #cccccc;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxform_obj_dhx_terrace.dhxform_rtl div.dhxform_btn {
	float: right;
}
.dhxform_obj_dhx_terrace div.dhxform_btn.dhxform_btn_over {
	color: #333333;
	background-color: #ebebeb;
}
.dhxform_obj_dhx_terrace div.dhxform_btn.dhxform_btn_pressed {
	color: #333333;
	background-color: #e6e6e6;
	box-shadow: 0 0 5px #e1e1e1 inset;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_btn {
	background-color: #f2f2f2;
}
.dhxform_obj_dhx_terrace div.dhxform_btn div.dhxform_btn_txt {
	float: left;
	margin: 0px 18px;
	height: 28px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 3px;
	*display: inline;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxform_obj_dhx_terrace div.dhxform_btn div.dhxform_btn_txt.dhxform_btn_txt_autowidth {
	width: 100%;
	margin: 0px;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_btn div.dhxform_btn_txt {
	color: #b2b2b2;
}
.dhxform_obj_dhx_terrace div.dhxform_btn:focus {
	outline: 1px dotted #bfbfbf;
}
.dhxform_obj_dhx_terrace div.dhxform_btn div.dhxform_btn_filler {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	background-color: white;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxform_obj_dhx_terrace div.dhxform_control div.dhxform_note {
	font-family: Arial, Helvetica;
	font-size: 0.8em;
	color: gray;
	padding-bottom: 3px;
	white-space: normal;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_control div.dhxform_note {
	color: #bbbbbb;
}
.dhxform_obj_dhx_terrace div.dhxform_label span.dhxform_info {
	font-family: Arial, Helvetica;
	font-size: 0.6em;
	color: gray;
	margin-left: 3px;
	padding-bottom: 2px;
	line-height: 100%;
	vertical-align: middle;
	cursor: pointer;
}
.dhxform_obj_dhx_terrace .validate_error .dhxform_label,
.dhxform_obj_dhx_terrace .validate_error .dhxform_textarea,
.dhxform_obj_dhx_terrace .validate_error .dhxform_select,
.dhxform_obj_dhx_terrace .validate_error div.dhxform_label_nav_link,
.dhxform_obj_dhx_terrace .validate_error div.dhxform_label div.dhxform_label_nav_link:focus {
	color: red;
}
.dhxform_obj_dhx_terrace span.combo_in_focus div.dhxcombo_dhx_terrace {
	box-shadow: 0 0 3px #c0c0c0;
	border: 1px solid #bfbfbf;
}
div.dhxcombolist_dhx_terrace {
	border-top: 1px solid #bfbfbf !important;
}
div.dhxcombolist_dhx_terrace:active {
	border-top: 1px solid #cccccc !important;
}
.dhxform_obj_dhx_terrace div.dhxform_item_template.dhxeditor_dhx_terrace div.dhx_cell_editor div.dhx_cell_stb {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
}
.dhxform_obj_dhx_terrace div.dhxform_item_template.dhxeditor_dhx_terrace div.dhx_cell_editor div.dhx_cell_cont_editor {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.dhxform_obj_dhx_terrace div.dhxform_item_template.dhxeditor_dhx_terrace div.dhx_cell_editor div.dhx_cell_toolbar_def {
	padding: 0px;
	border-top: 1px solid #cccccc;
}
.dhxform_obj_dhx_terrace div.dhxeditor_focus div.dhxform_item_template.dhxeditor_dhx_terrace {
	box-shadow: 0 0 3px #c0c0c0;
	outline: none;
}
.dhxform_obj_dhx_terrace div.dhxeditor_focus div.dhxform_item_template.dhxeditor_dhx_terrace div.dhx_cell_editor div.dhx_cell_stb,
.dhxform_obj_dhx_terrace div.dhxeditor_focus div.dhxform_item_template.dhxeditor_dhx_terrace div.dhx_cell_editor div.dhx_cell_cont_editor,
.dhxform_obj_dhx_terrace div.dhxeditor_focus div.dhxform_item_template.dhxeditor_dhx_terrace div.dhx_cell_editor div.dhx_cell_toolbar_def {
	border-color: #bfbfbf;
}
.dhxform_obj_dhx_terrace div.dhxform_item_template.dhxeditor_dhx_terrace div.dhxcont_content_blocker {
	display: none;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_item_template.dhxeditor_dhx_terrace div.dhxcont_content_blocker {
	display: inline;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #fefefe;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.dhtmlx_skin_dhx_terrace div.dhtmlx_wins_body_inner .dhxform_obj_dhx_terrace {
	background-color: white;
}
.dhxform_obj_dhx_terrace div.dhxform_control .dhx_combo_box.dhx_terrace .dhx_combo_input,
.dhx_combo_list.dhx_terrace_list div {
	font-size: 1em !important;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader {
	position: relative;
	width: 100%;
	margin-bottom: 4px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls {
	position: relative;
	width: 100%;
	height: 35px;
	font-size: 2px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button {
	position: absolute;
	width: 19px;
	height: 19px;
	top: 8px;
	background-image: url("../imgs/dhxform_terrace/dhxform_upload_buttons.gif");
	background-repeat: no-repeat;
	font-size: 2px;
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_info {
	display: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_browse {
	background-position: 0px 0px;
	right: 108px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_upload {
	background-position: -19px 0px;
	right: 79px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_cancel {
	background-position: -57px 0px;
	right: 79px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_clear {
	background-position: -38px 0px;
	right: 50px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls .dhx_uploader_input {
	position: absolute;
	left: -1000px;
	top: 0px;
	visibility: hidden;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
	cursor: pointer;
	overflow: hidden;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form .dhx_file_input {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
	outline: none;
	height: 19px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	overflow: auto;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file {
	position: relative;
	width: 100%;
	height: 25px;
	overflow: hidden;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_added,
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_uploading {
	color: black;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_uploaded {
	color: #646464;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_fail {
	color: #e94a4a;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file_param {
	position: absolute;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	top: 0px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	overflow: hidden;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_name {
	left: 20px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_progress {
	right: 50px;
	width: 38px;
	text-align: right;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_delete {
	right: 30px;
	width: 11px;
	background-image: url("../imgs/dhxform_terrace/dhxform_upload_buttons.gif");
	background-position: -76px 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_uploading {
	right: 50px;
	width: 38px;
	text-align: right;
	background-image: url("../imgs/dhxform_terrace/dhxform_upload_uploading.gif");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls {
	height: 60px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_files {
	display: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_info {
	display: inline;
	background-image: none;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #a0a0a0;
	height: auto;
	top: 0px;
	left: 35px;
	vertical-align: top;
	padding-top: 6px;
	line-height: 20px;
	cursor: default;
	filter: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_browse {
	top: 0px;
	width: 54px;
	height: 54px;
	right: 35px;
	background-image: url("../imgs/dhxform_terrace/dhxform_upload_buttons.gif");
	background-position: 0px -38px;
	background-repeat: no-repeat;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_upload,
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_cancel,
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_clear {
	display: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_form_cont {
	width: 54px;
	height: 54px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form .dhx_file_input {
	height: 54px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_info,
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_added,
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_uploading,
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_uploaded,
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_fail {
	color: #bbbbbb;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_browse {
	background-position: -54px -38px;
	cursor: default;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_form_cont {
	display: none;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button {
	cursor: default;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_browse {
	background-position: 0px -19px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_upload {
	background-position: -19px -19px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_cancel {
	background-position: -57px -19px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_clear {
	background-position: -38px -19px;
}
.dhxform_obj_dhx_terrace .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file_param.dhx_file_delete {
	background-position: -87px 0px;
	cursor: default;
}
.dhxform_obj_dhx_terrace div.dhxform_image {
	position: relative;
	overflow: hidden;
	border: 1px solid #cccccc;
}
.dhxform_obj_dhx_terrace div.dhxform_image img.dhxform_image_img {
	position: absolute;
}
.dhxform_obj_dhx_terrace div.dhxform_image div.dhxform_image_wrap {
	position: absolute;
	background-color: white;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	*border: 1px solid white;
	*height: 1000px;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.dhxform_obj_dhx_terrace div.dhxform_image div.dhxform_image_wrap.dhxform_image_in_progress {
	background-image: url("../imgs/dhxform_terrace/dhxform_image_uploading.gif");
	background-position: center center;
	background-repeat: no-repeat;
	*border-width: 0px;
	*height: 100%;
	opacity: 0.85;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	transition: opacity 0.1s;
}
.dhxform_obj_dhx_terrace div.dhxform_image div.dhxform_image_wrap.dhxform_image_in_progress form.dhxform_image_form {
	display: none;
}
.dhxform_obj_dhx_terrace div.dhxform_image div.dhxform_image_wrap form.dhxform_image_form {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.dhxform_obj_dhx_terrace div.dhxform_image div.dhxform_image_wrap form.dhxform_image_form input.dhxform_image_input {
	cursor: pointer;
	outline: none;
	height: 1000px;
	font-size: 100px;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_image {
	border-color: #d4d4d4;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_image img.dhxform_image_img {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_image div.dhxform_image_wrap {
	cursor: default;
}
.dhxform_obj_dhx_terrace div.disabled div.dhxform_image form.dhxform_image_form {
	display: none;
}
div.dhx_form_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
