/*
Product Name: dhtmlxForm 
Version: 5.1.0 
Edition: Standard 
License: content of this file is covered by DHTMLX Commercial or enterpri. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/*
	skin detected: material
	include extra file: skins/material.less
*/

@keyframes dhx_loader_rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dhx_loader_dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
.dhxform_obj_material {
	float: left;
	line-height: normal;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material div.dhxform_base {
	position: relative;
	float: left;
}
.dhxform_obj_material div.dhxform_base_nested {
	padding: 0px 0px 0px 0px;
	clear: both;
	*display: inline-block;
}
.dhxform_obj_material.dhxform_block {
	clear: both;
}
.dhxform_obj_material div.block_dhxform_item_label_left {
	display: block;
	clear: both;
	*clear: none;
}
.dhxform_obj_material div.dhxform_label div.dhxform_label_nav_link,
.dhxform_obj_material div.dhxform_label div.dhxform_label_nav_link:visited,
.dhxform_obj_material div.dhxform_label div.dhxform_label_nav_link:active,
.dhxform_obj_material div.dhxform_label div.dhxform_label_nav_link:hover {
	outline: 0px solid white;
	text-decoration: none;
	color: inherit;
	cursor: default;
	overflow: hidden;
	white-space: normal;
}
.dhxform_obj_material div.dhxform_label div.dhxform_label_nav_link:focus {
	color: #3399cc;
}
.dhxform_obj_material div.disabled span.nav_link {
	color: inherit;
}
.dhxform_obj_material div.dhxform_img,
.dhxform_obj_material div.dhxform_actv_c,
.dhxform_obj_material div.dhxform_actv_r {
	width: 24px;
	height: 24px;
	font-size: 1px;
}
.dhxform_obj_material div.dhxform_img.chbx0,
.dhxform_obj_material div.dhxform_img.chbx1,
.dhxform_obj_material div.disabled div.dhxform_img.chbx0,
.dhxform_obj_material div.disabled div.dhxform_img.chbx1,
.dhxform_obj_material div.dhxform_img.rdbt0,
.dhxform_obj_material div.dhxform_img.rdbt1,
.dhxform_obj_material div.disabled div.dhxform_img.rdbt0,
.dhxform_obj_material div.disabled div.dhxform_img.rdbt1,
.dhxform_obj_material div.dhxform_actv_c.chbx0,
.dhxform_obj_material div.dhxform_actv_c.chbx1,
.dhxform_obj_material div.dhxform_actv_r.rdbt0,
.dhxform_obj_material div.dhxform_actv_r.rdbt1 {
	background-image: url("../imgs/dhxform_material/dhxform_chbxrd.png");
	background-repeat: no-repeat;
}
.dhxform_obj_material div.dhxform_img.chbx0 {
	background-position: -24px 0px;
}
.dhxform_obj_material div.dhxform_img.chbx1 {
	background-position: 0px 0px;
}
.dhxform_obj_material div.disabled div.dhxform_img.chbx0 {
	background-position: -72px 0px;
}
.dhxform_obj_material div.disabled div.dhxform_img.chbx1 {
	background-position: -48px 0px;
}
.dhxform_obj_material div.dhxform_img.rdbt0 {
	background-position: -120px 0px;
}
.dhxform_obj_material div.dhxform_img.rdbt1 {
	background-position: -96px 0px;
}
.dhxform_obj_material div.disabled div.dhxform_img.rdbt0 {
	background-position: -168px 0px;
}
.dhxform_obj_material div.disabled div.dhxform_img.rdbt1 {
	background-position: -144px 0px;
}
.dhxform_obj_material div.dhxform_actv_c.chbx0 {
	background-position: -216px 0px;
}
.dhxform_obj_material div.dhxform_actv_c.chbx1 {
	background-position: -192px 0px;
}
.dhxform_obj_material div.dhxform_actv_r.rdbt0 {
	background-position: -264px 0px;
}
.dhxform_obj_material div.dhxform_actv_r.rdbt1 {
	background-position: -240px 0px;
}
.dhxform_obj_material div.dhxform_label_nav_link {
	line-height: 22px;
}
.dhxform_obj_material div.dhxform_label {
	overflow-x: hidden;
	overflow: hidden;
	white-space: normal;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material div.dhxform_label.dhxform_label_align_left {
	text-align: left;
}
.dhxform_obj_material div.dhxform_label.dhxform_label_align_center {
	text-align: center;
}
.dhxform_obj_material div.dhxform_label.dhxform_label_align_right {
	text-align: right;
}
.dhxform_obj_material div.disabled div.dhxform_label,
.dhxform_obj_material div.disabled div.dhxform_label div.dhxform_label_nav_link,
.dhxform_obj_material div.disabled div.dhxform_label span.dhxform_item_required {
	color: #a6a6a6;
}
.dhxform_obj_material div.dhxform_label span.dhxform_item_required {
	margin-left: 5px;
	color: red;
}
.dhxform_obj_material input.dhxform_textarea,
.dhxform_obj_material textarea.dhxform_textarea {
	padding: 4px 2px !important;
	margin: 0px;
	font-size: 1em;
	background-color: white;
}
.dhxform_obj_material input.dhxform_textarea::-ms-clear,
.dhxform_obj_material textarea.dhxform_textarea::-ms-clear {
	display: none;
}
.dhxform_obj_material input.dhxform_textarea:focus,
.dhxform_obj_material textarea.dhxform_textarea:focus {
	border-bottom-color: #3399cc;
	border-bottom-width: 2px;
	padding-bottom: 3px !important;
	outline: none;
}
.dhxform_obj_material .dhxform_textarea {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #dfdfdf;
	resize: none;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material div.disabled .dhxform_textarea {
	color: #a6a6a6;
	border-style: dashed;
}
.dhxform_obj_material input.dhxform_textarea.calendar {
	background-image: url("../imgs/dhxform_material/dhxform_image_calendar.png");
	background-repeat: no-repeat;
	background-position: right 6px;
}
.dhxform_obj_material div.disabled input.dhxform_textarea.calendar {
	background-image: url("../imgs/dhxform_material/dhxform_image_calendar_dis.png");
}
.dhxform_obj_material div.dhxform_control.dhxform_img_node {
	position: relative;
}
.dhxform_obj_material div.dhxform_control.dhxform_img_node .dhxform_textarea {
	border: 1px solid white;
	background-color: white;
	color: white;
	visibility: hidden;
	*height: 1px;
	*line-height: 1px;
	*display: inline;
}
.dhxform_obj_material div.dhxform_control.dhxform_img_node div.dhxform_img {
	float: none;
	top: 3px;
	left: 0px;
	position: absolute;
	margin: 0px;
}
.dhxform_obj_material div.dhxform_control.dhxform_img_node div.dhxform_actv_c,
.dhxform_obj_material div.dhxform_control.dhxform_img_node div.dhxform_actv_r {
	float: none;
	position: absolute;
	margin: 0px;
	top: 3px;
	left: 0px;
}
.dhxform_obj_material .dhxform_select {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #dfdfdf;
	background-color: white;
	margin: 0px;
	padding: 2px !important;
	line-height: normal;
	vertical-align: middle;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: -ms-none;
	appearance: none;
	background-image: url(../imgs/dhxform_material/dhxform_arrow_down.gif);
	background-repeat: no-repeat;
	background-position: right 13px;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material .dhxform_select option {
	padding: 1px 2px;
	outline: none !important;
}
.dhxform_obj_material .dhxform_select option:focus,
.dhxform_obj_material .dhxform_select option:active {
	outline: none !important;
}
.dhxform_obj_material .dhxform_select:focus {
	border-color: #3399cc;
	border-bottom-width: 2px;
	padding-bottom: 1px !important;
	outline: none !important;
}
.dhxform_obj_material .dhxform_select.dhxform_arrow_fix_webkit {
	background-position: right 6px;
}
.dhxform_obj_material .dhxform_select.dhxform_arrow_fix_edge {
	background-position: right 7px;
}
.dhxform_obj_material .dhxform_select.dhxform_fix_ff {
	height: 28px;
}
.dhxform_obj_material div.disabled .dhxform_select {
	color: #a6a6a6;
	border-style: dashed;
	background-image: url(../imgs/dhxform_material/dhxform_arrow_down_dis.gif);
}
.dhxform_obj_material div.disabled .dhxform_select option {
	color: #a6a6a6;
}
.dhxform_obj_material div.fs_dhxform_item_label_left {
	padding: 5px 0px 5px 0px;
}
.dhxform_obj_material div.fs_dhxform_item_label_left fieldset.dhxform_fs div.dhxform_base_nested.dhxform_fs_nested {
	margin-right: 19px;
	margin-left: 5px;
}
.dhxform_obj_material fieldset.dhxform_fs {
	border: 1px solid #dfdfdf;
	margin: 0px;
	padding: 5px 0px 12px 0px;
	clear: left;
	width: 100%;
}
.dhxform_obj_material div.disabled fieldset.dhxform_fs {
	border-style: dashed;
}
.dhxform_obj_material fieldset.dhxform_fs legend.fs_legend {
	font-weight: normal;
	padding: 0px 4px 1px 4px;
	margin-left: 5px;
	text-align: left;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material div.disabled fieldset.dhxform_fs legend.fs_legend {
	color: #a6a6a6;
}
.dhxform_obj_material div.dhxform_item_label_right {
	clear: both;
	padding-top: 9px;
	cursor: default;
	*display: inline-block;
}
.dhxform_obj_material div.dhxform_item_label_right div.dhxform_img,
.dhxform_obj_material div.dhxform_item_label_right div.dhxform_actv_c,
.dhxform_obj_material div.dhxform_item_label_right div.dhxform_actv_r {
	float: left;
	margin: 0px;
}
.dhxform_obj_material div.dhxform_item_label_right div.dhxform_label {
	float: left;
	padding: 2px 0px 1px 0px;
	margin: 2px 0px 2px 0px;
	*padding-top: 0px;
	*display: inline-block;
}
.dhxform_obj_material div.dhxform_item_label_right div.dhxform_control {
	float: left;
	margin-right: 7px;
}
.dhxform_obj_material div.dhxform_item_label_left {
	clear: both;
	padding-top: 9px;
	cursor: default;
	*display: inline-block;
}
.dhxform_obj_material div.dhxform_item_label_left div.dhxform_img,
.dhxform_obj_material div.dhxform_item_label_left div.dhxform_actv_c,
.dhxform_obj_material div.dhxform_item_label_left div.dhxform_actv_r {
	float: right;
	margin: 3px 1px 0px 5px;
}
.dhxform_obj_material div.dhxform_item_label_left div.dhxform_label {
	float: left;
	padding: 2px 0px 1px 0px;
	margin: 2px 0px 2px 0px;
}
.dhxform_obj_material div.dhxform_item_label_left div.dhxform_control {
	float: left;
	margin-left: 3px;
}
.dhxform_obj_material div.dhxform_item_label_top {
	clear: both;
}
.dhxform_obj_material div.dhxform_item_label_top div.dhxform_label {
	float: none;
	margin-bottom: 5px;
	margin-top: 8px;
}
.dhxform_obj_material div.dhxform_item_label_top div.dhxform_control {
	float: none;
	margin-left: 0px;
	margin-bottom: 5px;
}
.dhxform_obj_material div.dhxform_item_absolute {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: default;
}
.dhxform_obj_material div.item_absolute div.dhxform_img,
.dhxform_obj_material div.item_absolute div.dhxform_actv_c,
.dhxform_obj_material div.item_absolute div.dhxform_actv_r {
	position: absolute;
}
.dhxform_obj_material div.dhxform_item_absolute div.dhxform_control,
.dhxform_obj_material div.dhxform_item_absolute div.dhxform_label,
.dhxform_obj_material div.dhxform_item_absolute div.dhxform_control.dhxform_img_node,
.dhxform_obj_material div.dhxform_item_absolute div.dhxform_txt_label2,
.dhxform_obj_material div.dhxform_item_absolute div.dhxform_btn,
.dhxform_obj_material div.block_item_absolute div.dhxform_block {
	position: absolute;
}
.dhxform_obj_material div.dhxform_txt_label2 {
	font-weight: bold;
	margin: 0px 3px;
	padding: 5px 0px;
	cursor: default;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material div.disabled div.dhxform_txt_label2 {
	color: #a6a6a6;
}
.dhxform_obj_material div.dhxform_btn {
	margin: 1px 2px;
	background-color: #f5f5f5;
	float: left;
	cursor: default;
	clear: both;
	position: relative;
	overflow: hidden;
	border: 1px solid #dfdfdf;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_material.dhxform_rtl div.dhxform_btn {
	float: right;
}
.dhxform_obj_material div.dhxform_btn.dhxform_btn_over {
	background-color: #ededed;
	outline: none !important;
}
.dhxform_obj_material div.dhxform_btn.dhxform_btn_pressed {
	background-color: #e1e1e1;
	border-color: #d2d2d2;
	outline: none !important;
}
.dhxform_obj_material div.dhxform_btn:focus {
	outline: none !important;
	border-color: #3399cc;
	border-width: 2px;
	margin: 0px 1px;
	color: #545454;
}
dhxform_obj_material div.disabled div.dhxform_btn {
	background-color: #ededed;
	border-color: #ededed;
}
dhxform_obj_material div.disabled div.dhxform_btn div.dhxform_btn_txt {
	color: #a6a6a6;
}
.dhxform_obj_material div.dhxform_btn div.dhxform_btn_txt {
	float: left;
	margin: 0px 18px;
	height: 28px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 3px;
	*display: inline;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxform_obj_material div.dhxform_btn div.dhxform_btn_txt.dhxform_btn_txt_autowidth {
	width: 100%;
	margin: 0px;
}
.dhxform_obj_material div.dhxform_btn div.dhxform_btn_filler {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	background-color: white;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxform_obj_material div.dhxform_control div.dhxform_note {
	font: inherit;
	color: #5a5a5a;
	font-size: 0.8em;
	padding-bottom: 3px;
	white-space: normal;
}
.dhxform_obj_material div.disabled div.dhxform_control div.dhxform_note {
	color: #a6a6a6;
}
.dhxform_obj_material div.dhxform_label span.dhxform_info {
	font: inherit;
	color: #5a5a5a;
	font-size: 0.6em;
	margin-left: 3px;
	padding-bottom: 2px;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
}
.dhxform_obj_material .validate_error .dhxform_label,
.dhxform_obj_material .validate_error .dhxform_textarea,
.dhxform_obj_material .validate_error .dhxform_select,
.dhxform_obj_material .validate_error div.dhxform_label_nav_link,
.dhxform_obj_material .validate_error div.dhxform_label div.dhxform_label_nav_link:focus {
	color: red;
}
.dhxform_obj_material div.dhxform_control div.dhxcombo_material {
	height: 24px;
}
.dhxform_obj_material div.dhxform_control div.dhxcombo_material input.dhxcombo_input {
	height: 24px;
	line-height: 24px;
}
.dhxform_obj_material div.dhxform_control div.dhxcombo_material div.dhxcombo_image {
	top: 3px;
}
.dhxform_obj_material div.dhxform_control div.dhxcombo_material div.dhxcombo_select_button {
	top: 1px;
}
.dhxform_obj_material div.disabled div.dhxcombo_material {
	color: #a6a6a6;
	border-bottom-style: dashed;
}
.dhxform_obj_material div.dhxform_item_template.dhxeditor_material div.dhx_cell_editor {
	border: 1px solid #dfdfdf;
}
.dhxform_obj_material div.dhxform_item_template.dhxeditor_material div.dhx_cell_editor div.dhx_cell_toolbar_def {
	padding: 0px;
	border-top: 1px solid #dfdfdf;
}
.dhxform_obj_material div.dhxeditor_focus div.dhxform_item_template.dhxeditor_material {
	box-shadow: 0 0 3px #c0c0c0;
	outline: none;
}
.dhxform_obj_material div.dhxeditor_focus div.dhxform_item_template.dhxeditor_material div.dhx_cell_editor {
	border-color: #3399cc;
}
.dhxform_obj_material div.dhxform_item_template.dhxeditor_material div.dhxcont_content_blocker {
	display: none;
}
.dhxform_obj_material div.disabled div.dhxform_item_template.dhxeditor_material div.dhxcont_content_blocker {
	display: inline;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #fafafa;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.dhtmlx_skin_material div.dhtmlx_wins_body_inner .dhxform_obj_material {
	background-color: white;
}
.dhxform_obj_material div.dhxform_control .dhx_combo_box.material .dhx_combo_input,
.dhx_combo_list.material_list div {
	font-size: 1em !important;
}
.dhxform_obj_material .dhx_file_uploader {
	position: relative;
	width: 100%;
	margin-bottom: 4px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls {
	position: relative;
	width: 100%;
	height: 35px;
	font-size: 2px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 8px;
	background-image: url("../imgs/dhxform_material/dhxform_upload_buttons.png");
	background-repeat: no-repeat;
	font-size: 2px;
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_info {
	display: none;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_browse {
	background-position: 0px 0px;
	right: 108px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_upload {
	background-position: -24px 0px;
	right: 79px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_cancel {
	background-position: -72px 0px;
	right: 79px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_clear {
	background-position: -48px 0px;
	right: 50px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls .dhx_uploader_input {
	position: absolute;
	left: -1000px;
	top: 0px;
	visibility: hidden;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
	cursor: pointer;
	overflow: hidden;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form .dhx_file_input {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
	outline: none;
	height: 19px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	overflow: auto;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file {
	position: relative;
	width: 100%;
	height: 25px;
	overflow: hidden;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_added,
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_uploading {
	color: black;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_uploaded {
	color: #646464;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_fail {
	color: #e94a4a;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file_param {
	position: absolute;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	top: 0px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	overflow: hidden;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_name {
	left: 20px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_progress {
	right: 50px;
	width: 38px;
	text-align: right;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_delete {
	right: 30px;
	width: 12px;
	background-image: url("../imgs/dhxform_material/dhxform_upload_buttons.png");
	background-position: -96px 1px;
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_uploading {
	right: 50px;
	width: 38px;
	text-align: right;
	background-image: url("../imgs/dhxform_material/dhxform_upload_uploading.gif");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls {
	height: 60px;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_files {
	display: none;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_info {
	display: inline;
	background-image: none;
	height: auto;
	top: 0px;
	left: 35px;
	vertical-align: top;
	padding-top: 6px;
	line-height: 20px;
	cursor: default;
	filter: none;
	font-size: 14px;
	font-family: Roboto, Arial, Helvetica;
	color: #404040;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_browse {
	top: 0px;
	width: 54px;
	height: 54px;
	right: 35px;
	background-image: url("../imgs/dhxform_material/dhxform_upload_buttons.png");
	background-position: 0px -48px;
	background-repeat: no-repeat;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_upload,
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_cancel,
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_clear {
	display: none;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_form_cont {
	width: 54px;
	height: 54px;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form .dhx_file_input {
	height: 54px;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_info,
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_added,
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_uploading,
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_uploaded,
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_fail {
	color: #a6a6a6;
}
.dhxform_obj_material .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_browse {
	background-position: -54px -48px;
	cursor: default;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_form_cont {
	display: none;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button {
	cursor: default;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_browse {
	background-position: 0px -24px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_upload {
	background-position: -24px -24px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_cancel {
	background-position: -72px -24px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_clear {
	background-position: -48px -24px;
}
.dhxform_obj_material .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file_param.dhx_file_delete {
	background-position: -108px 1px;
	cursor: default;
}
.dhxform_obj_material div.dhxform_image {
	position: relative;
	overflow: hidden;
	border: 1px solid #dfdfdf;
}
.dhxform_obj_material div.dhxform_image img.dhxform_image_img {
	position: absolute;
}
.dhxform_obj_material div.dhxform_image div.dhxform_image_wrap {
	position: absolute;
	background-color: white;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	*border: 1px solid white;
	*height: 1000px;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.dhxform_obj_material div.dhxform_image div.dhxform_image_wrap.dhxform_image_in_progress {
	background-image: url("../imgs/dhxform_material/dhxform_image_uploading.gif");
	background-position: center center;
	background-repeat: no-repeat;
	*border-width: 0px;
	*height: 100%;
	opacity: 0.85;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	transition: opacity 0.1s;
}
.dhxform_obj_material div.dhxform_image div.dhxform_image_wrap.dhxform_image_in_progress form.dhxform_image_form {
	display: none;
}
.dhxform_obj_material div.dhxform_image div.dhxform_image_wrap form.dhxform_image_form {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.dhxform_obj_material div.dhxform_image div.dhxform_image_wrap form.dhxform_image_form input.dhxform_image_input {
	cursor: pointer;
	outline: none;
	height: 1000px;
	font-size: 100px;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxform_obj_material div.disabled div.dhxform_image {
	border-color: #f9f9f9;
}
.dhxform_obj_material div.disabled div.dhxform_image img.dhxform_image_img {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.dhxform_obj_material div.disabled div.dhxform_image div.dhxform_image_wrap {
	cursor: default;
}
.dhxform_obj_material div.disabled div.dhxform_image form.dhxform_image_form {
	display: none;
}
div.dhx_form_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 40px;
	height: 10px;
	overflow: hidden;
}
