<script src="/gantt/dhtmlxgantt_marker.js" type="text/javascript" charset="utf-8"></script>
<script src="/gantt/dhtmlxgantt_tooltip.js" type="text/javascript" charset="utf-8"></script>
<script src="/gantt/dhtmlxgantt_keyboard_navigation.js" type="text/javascript" charset="utf-8"></script>    
<script src="/modules/components/dhtmlxcombo.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/modules/components/dhtmlxcombo.css">
<script src="/modules/components/dhtmlxcalendar.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/modules/components/dhtmlxcalendar.css">

<script type="text/javascript">

    var combo_filter = new dhtmlXCombo({
        parent: "combo1",
        width: 400,
        name: "filterText",
        items:<%- project_list %>,
    });

    var filtervalue;
    var filtertext="";
    combo_filter.attachEvent("onChange", function(value, text){
        filtervalue=value;
        filtertext=text;
        gantt.refreshData();
    });

        gantt.attachEvent("onBeforeTaskAdd", function(id,item){
            var startDay = new Date(2000, 0, 1);
            startDay.setDate(startDay.getDate() + parseInt(item.duration));
            item.start_date = startDay;
            item.duration = item.durationday;
            item.end_date = gantt.calculateEndDate(item);
            return true;
        })
   
        gantt.attachEvent("onBeforeLightbox", function(id){
            gantt.templates.task_time ="";
            var task = gantt.getTask(id);
            task.durationday = task.duration;
            task.startday = task.start_date.getDate();
            return true;
        });
    
        gantt.attachEvent("onBeforeTaskDisplay", function(id, task){                
            //コンボのフィルターを適用する
            if( task.text.indexOf(filtertext) !=-1) {
                return true;
            }else{
                if( task.parent == filtervalue) {
                    return true;
                }                            
                return false
            }
            return false;
        });

//ツールチップを使えるようにする
        gantt.templates.tooltip_text = function(start,end,task){
            var description;
            if(!task.description){
                description = task.description;
            } else {
                description ="";
            }
            return "<b>案件・作業:</b> "+task.text+"<br/><b>概要:</b> " + description+"<br/><b>状態:</b> "+task.state;
        };


//タスク入力フォームのカスタマイズ        
        gantt.config.lightbox.sections = [            
            //{name: "pid", height: 25, map_to: "pid", type: "textarea", focus: true},
            {name: "title", height: 25, map_to: "text", type: "textarea" , focus: true},
            {name: "description", height: 54, map_to: "description", type: "textarea"},
            {name: "category", height: 28, map_to: "category", type: "select", options: <%- select_categories %>},
            {name: "color", height: 28, map_to: "color", type: "select", options: <%- select_colors %>},
            //{name: "usergroup", height: 22, map_to: "usergroup", type: "textarea", options: []},
            {name: "budget", height: 22, map_to: "budget", type: "textarea"},
            //{name: "spreadsheetkey", height: 22, map_to: "spreadsheetkey", type: "textarea", options: []},
            {name: "startday", height: 22, map_to: "startday", type: "textarea"},
            {name: "durationday", height: 22, map_to: "durationday", type: "textarea"},
            //{name: "time",height: 25, type: "duration", map_to: "auto",year_range: [2000, 2010]}
        ];

        //gantt.locale.labels["section_pid"] = "案件ID";
        gantt.locale.labels["section_title"] = "タイトル";
        gantt.locale.labels["section_description"] = "概要";
        gantt.locale.labels["section_color"] = "色";
        gantt.locale.labels["section_category"] = "カテゴリー";
        //gantt.locale.labels["section_usergroup"] = "ユーザーグループ";
        gantt.locale.labels["section_startday"] = "開始（日目から）";
        gantt.locale.labels["section_durationday"] = "期間（日）";
        gantt.locale.labels["section_budget"] = "見積金額";
        //gantt.locale.labels["section_spreadsheetkey"] = "spreadsheetkey";
        gantt.locale.labels["section_state"] = "状態";

        //ドラッグで行を変更できるようにする
        gantt.config.order_branch = true;
        gantt.config.order_branch_free = true;

            
        gantt.config.cascade_delete = false;
//その他        
        gantt.config.xml_date = "%Y-%m-%d %H:%i:%s";
        gantt.config.date_scale = "%d";
        //gantt.attachHeader("(Num),(Str),(Str)");

//表示する列     
        gantt.config.columns = [
            {name:"text", label:"案件・作業名", tree:true, width:300 ,resize: true },
            //{name:"start_date", label:"開始日時", align: "center", width: 90},
            {name:"duration", label:"期間(日)", align: "center" , width: 60},                
            {name:"add", width:40}
        ];


//表示処理実行
        
        gantt.init("gantt_here",new Date(2000, 0, 1),new Date(2002, 12, 31));
        gantt.load("/gantt_template/data");

        var dp = new gantt.dataProcessor("/gantt_template/data");
        dp.init(gantt);
        dp.setTransactionMode("REST");

        gantt.attachEvent("onAfterUpdate", function(id, action, tid, response){
            //gantt.calculateEndDate(task);
            //var task=gantt.getTask(id);
            //gantt.calculateEndDate(task.start_date,task.duration);
        })


                    
//並べ替えできるようにする
        gantt.config.sort = true;

//タスクをドラッグアンドドロップできるようにする（横移動）
        gantt.attachEvent("onTaskDrag", function(id, mode, task, original){
            var modes = gantt.config.drag_mode;
            if(mode == modes.move){
                var diff = task.start_date - original.start_date;
                gantt.eachTask(function(child){
                    child.start_date = new Date(+child.start_date + diff);
                    child.end_date = new Date(+child.end_date + diff);
                    gantt.refreshTask(child.id, true);
                },id );
            }
            return true;
        });
//子タスクを一緒に移動する
        gantt.attachEvent("onAfterTaskDrag", function(id, mode, e){
            var modes = gantt.config.drag_mode;
            if(mode == modes.move ){
                var state = gantt.getState();
                gantt.eachTask(function(child){          
                    child.start_date = gantt.roundDate({
                        date:child.start_date, 
                        unit:state.scale_unit, 
                        step:state.scale_step
                    });         
                    child.end_date = gantt.calculateEndDate(child.start_date, 
                        child.duration, gantt.config.duration_unit);
                    gantt.updateTask(child.id);
                },id );
            }
        });        


</script>