<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= title %></title>

    <script src="/gantt/dhtmlxgantt.js" type="text/javascript" charset="utf-8"></script>    
	<link rel="stylesheet" href="/gantt/dhtmlxgantt.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css">
        html, body{ height:100%; padding:0px; margin:0px; overflow: hidden;}
        .sunday{ background: #f3e4e4 !important;}
        .holiday{ background: #f3e4e4 !important;}
        .saturday{ background: #eff4fd !important;}
        
    </style>
</head>    
<body>
	<b><%= title %></b>
    <div class="main" style='width:100%; height:100%;'>
    
    <!--<div id="show_date">表示期間:<input type="text" id="show_min_date" onchange="gantt.refreshData();">から<input type="text" id="show_max_date" onchange="gantt.refreshData();">まで</div>-->
    <div id="combo1"></div>
    <div class="filters_wrapper" id="filters_wrapper">
    </div>
    
	<div id="gantt_here" style='width:100%; height:90%;'></div>

    <%- include('../../views/gantt_template/gantt_template_scripts') -%>

    </div>
</body>

