<%- include('../../views/header') -%>
<body>

<%- include('../../views/sidebar') -%>
<div class="main">
<h1><%= title %></h1>
<div class="container col-sm-8">
    <div class="col-sm-offset-4">
      <% if(mode=="edit") { %>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal1">
        色削除
      </button>
      <% } %>
    </div>


    <form method='post' action='/colors'>
      
      <input type="hidden" value="<%= method %>" name="_method">
      <input type="hidden" value="<%= color.id %>" name="id">
      <div class="row">
          <div class="form-group col-sm-6">
            <label>色ID:</label><p><%= color.id %></p>
          </div>
        </div>  
      <div class="row">
        <div class="form-group col-sm-6">
          <label>表示名</label><input type="text" value="<%= color.name %>" name="name" class="form-control" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>色</label>

          <div id="colorpicker1" class="colorpicker input-group colorpicker-component" title="Using input value">
            <input name="color" type="text" class="form-control input-lg" value="<%= color.color %>" required>
            <span class="input-group-addon"><i></i></span>
          </div>          

        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <button type="submit" class="col-sm-2 btn btn-danger"><% if(mode=="edit") { %><%= "更新" %><% } else { %><%= "追加" %><% } %></button><a href="./"><button type="button" class="col-sm-offset-2 col-sm-2 btn btn-primary">キャンセル</button></a>
        </div>
      </div>
    </form>
  </div>
    <!-- モーダル -->
    <div class="modal" id="modal1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">削除確認</h4>
          </div>
          <div class="modal-body">
            この色を削除します。<br>
            よろしいですか？
          </div>
            <div class="modal-footer">
              <form action="./delete" method="post" value="DELETE" name="_method">
                <button type="submit" class="btn btn-danger col-sm-5">削除</button>                
                <button type="button" class="btn btn-primary col-sm-5" data-dismiss="modal">キャンセル</button>
                <input type="hidden" name="id" value="<%= color.id %>">
              </form>
            </div>
          </div>
      </div>
    </div>    


    <%- include('../../views/script') -%>    
    <%- include('../../views/colorpicker') -%>
    <%- include('../../views/footer') -%>
