<%- include('../../views/header') -%>
<body>

<%- include('../../views/sidebar') -%>

<div class="main">
  <h1><%= title %></h1>
  <div class="col-sm-6">
    <table>
      <th class="col-sm-4">色表示名</th>
      <% for(var i=0;i<colors.length;i++){ %>
        <tr>
          <td><a href='/colors/<%= colors[i].id %>'><%= colors[i].name %></a></td>
        </tr> 
      <% } %>
    </table>
  </div>
</div>

<%- include('../../views/script') -%>
<%- include('../../views/footer') -%>